$text: #18191F;

%inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

%inter-500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

%inter-600 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

%inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

%inter-800 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}